.hm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.hm-subtitle {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

.hm-title {
  width: 583px;
  font-family: "Volkhov", serif;
  font-size: 50px;
  line-height: 71.04px;
  color: #181e4b;
  margin-bottom: 15px;
}

.hm-description {
  font-family: "Poppins", sans-serif;
  color: black;
  width: 583px;
  size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.hm-view-btn {
  width: 176.56px;
  height: 56.42px;
  border-radius: 10px;
  padding: auto;
  color: white;
  background: #df6951;
  border-color: #df6951;
  border-style: solid;
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 25.07px;
  font-size: 16.72px;
}

.section-sst {
  margin: 0 auto;
  max-width: 1483px;
  height: 751px;
  position: relative;
}
.sst-img-eiffel {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 38px;
}
.sst-subtitle {
  width: 126px;
  height: 27px;
  color: #df6951;
  font-family: "Poppins", sans-serif;
  size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.sst-title {
  width: 639px;
  height: 142px;
  font-family: "Volkhov", serif;
  font-size: 50px;
  line-height: 71.04px;
  color: #181e4b;
  margin-bottom: 25px;
}

.sst-description {
  font-family: "Poppins", sans-serif;
  color: black;
  width: 574px;
  height: 103px;
  size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
}
.sst-view-btn {
  width: 176.56px;
  height: 56.42px;
  border-radius: 10px;
  border-color: none;
  background: #df6951;
  border-color: #df6951;
  border-style: solid;
  margin-bottom: 45px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16.72px;
  line-height: 25.07px;
}

.sst-container-images {
  margin-top: 25px;
  display: flex;
  gap: 55px;
}

.sst-image {
  position: relative;
}

.sst-price {
  position: absolute;
  width: 83px;
  height: 35px;
  background-image: linear-gradient(#ff7255, #ba4e38);
  border-radius: 46px;
  top: 8px;
  right: 16px;
}
.sst-price-text {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 38px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}