.explore-container {
  display: flex;
}
.explore-box {
  flex: 1;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.explore-box1 {
  background-image: url("images/seciton.png");
}
.explore-box2 {
  background-image: url("images/seciton-2.png");
}
.promotion {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.explore-cities {
  color: #fff;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
}

.wiew {
  display: flex;
  width: 176px;
  height: 56px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.icon {
  margin-left: 230px;
  margin-bottom: 15px;
  width: 187px;
  height: 19px;
}
